[build]
  command = "npm run build"
  publish = "frontend/dist"
  base = "/"

[functions]
  node_version = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 5173